[Unit]
Description=Pi Audio Streamer
After=network.target

[Service]
WorkingDirectory=/home/pi/pi-streamer
ExecStart=/home/pi/pi-streamer/run.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

